<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618296923732-dp4g8fgd4bc2k9qgukq3hfhisr35svdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618296923732-dp4g8fgd4bc2k9qgukq3hfhisr35svdm</string>
	<key>API_KEY</key>
	<string>AIzaSyDgeqE15NT_YQCBIbTq4Fsz-86K2FayFWI</string>
	<key>GCM_SENDER_ID</key>
	<string>618296923732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pseudoSoft.Soulmate</string>
	<key>PROJECT_ID</key>
	<string>soulmate-160f0</string>
	<key>STORAGE_BUCKET</key>
	<string>soulmate-160f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618296923732:ios:ea16e81066521ca9173fc1</string>
</dict>
</plist>